- name: Deploy SPE Calculator container (local)
  hosts: local
  become: false

  tasks:
    - name: Run container
      community.docker.docker_container:
        name: "{{ container_name }}"
        image: "{{ image }}"
        ports:
          - "{{ app_port }}:5000"
        state: started
        restart_policy: always

